.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: -30px;
}

.hero h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0;
}

.hero p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-text {
        width: 100%;
        align-items: center;
    }
    
    .hero h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .hero p {
        font-size: 15px;
        line-height: 22px;
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .hero p {
        font-size: 14px;
        line-height: 20px;
        margin: 15px auto;
    }
}